/*
 * http://colorizer.org/
 * https://app.contrast-finder.org/result.html 
*/

#overall-content {
  background-color:rgb(40, 42, 54);
  color:rgb(248, 248, 242);
}

.pagesection, .pageheader, .tournaments-presentation {
  background-color:rgb(59, 62, 79);
  color:rgb(248, 248, 242);
}

.pagesection h2, .portlet h2, .pagesection h3, .portlet h3 {
  background:rgb(2, 132, 161);
  color:rgb(248, 248, 242);
}

.row-data .row-label, .pageheader_menuitem {
  color:rgb(248, 248, 242);
}

.gamenameinner a, .load_previous_message a {
  color:rgb(255, 172, 83);
}

.gametable {
  background-color:rgb(40, 42, 54);
}

.player_is_at_table .gametable.gametable_status_asyncopen {
  background-color:rgb(40, 42, 4);
}

#async_table_banner {
  background-color:rgb(189, 147, 249);
  color:rgb(40, 42, 54);
}

#async_table_banner a {
  color:rgb(99, 37, 10);
}

.bgabutton {
  box-shadow:0px 0px 0px 0px;
}

.bgabutton_blue {
  background-color:rgb(2, 132, 161);
  background:rgb(2, 132, 161);
  color:rgb(248, 248, 242);
}

.bgabutton_gray {
  background-color:rgb(189, 147, 249);
  color:rgb(248, 248, 242);
}

.gametable_button_zone.a {
  color:rgb(248, 248, 242);
}

/* in game */
.roundedbox, .chatwindowexpanded, .chatwindowlogs, .chatlog {
  background-color:rgb(98, 103, 132) !important;
}

.player-board {
  background-color:rgb(138, 103, 132);
}

#tournament-module.row {
  background-color:rgb(40, 42, 54);
  color:rgb(248, 248, 242);
}


.tournaments-presentation-status__global {
  color:rgb(255, 172, 83);
}

.tournaments-presentation-status {
  color:rgb(255, 172, 83);
}

.tournaments-mode-presentation__name, .tournaments-mode-presentation__description {
  color:rgb(248, 248, 242);
}

#topbar {
  background-color:rgb(59, 62, 79);
  background:rgb(59, 62, 79);
}
#topbar a{
  color:rgb(189, 147, 249);
}

.achievement_container.top, .achievement_container.bottom {
  background-image:none;
}


/*
  color:rgb(189, 147, 249);
  color:rgb(255, 172, 83);
  color:rgb(114, 228, 253);
*/


/* kingdom builder */
#objectives {
  color: rgb(0, 0, 0);
}

/* hanabi # TODO test */
.clue {
  color: rgb(0, 0, 0);
}

/* santorini */
#power-choose-container, .power-ext{
  color: rgb(0,0,0);
}

/* love letter */
#explanation_card, #explanation_card2{
  color: rgb(0, 0, 0);
}
